<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/profiles/show.css" />
  <%- include('../partials/nav') %>

    <main>
      <div class="profileInfo">
        <!-- section one -->
        <section>
          <% if (profile.avatar) { %>
            <div>
              <img class="profile-avatar" src="<%= profile.avatar %>" alt="<%= profile.name %> avatar" />
            </div>
            <% } %>
              <h1 class="person-name">
                <%= isSelf ? profile.name : profile.name %>!
              </h1>
              <% profile.profileDetails.forEach(addProfile=> { %>
                <div>
                  <h3>Age:<%= addProfile.age %>
                  </h3>
                  <h3>Gender: <%= addProfile.gender%>
                  </h3>
                  <h3>Phone Number:<%= addProfile.pNumber %>
                  </h3>
                  <h3>Profession:<%= addProfile.profession%>
                  </h3>
                  <h3>Company: <%= addProfile.company %>
                  </h3>
                  <h3>Address: <%= addProfile.address%>
                  </h3>
                  <h3>Bio: <%= addProfile.bio%>
                  </h3>
                </div>
                <% }) %>
        </section>
        <!-- section two-->
        <section>
          <% if (isSelf) {%>
            <section>
              <div class="personal-info-cont">
                <a class="" href="/profiles/newdetails">
                  <button>Add your personal info</button>
                </a>
                <a href="/profiles/<%=profile._id%>/edit">
                  <button>
                    Edit
                  </button>
                </a>
                <form action="/profiles/<%=profile._id %>?_method=DELETE" method="POST">
                  <button>
                    DELETE
                  </button>
                </form>
              </div>
            </section>
            <section>
              <div>
                <button>Resources management Details</button>
                <button>Password management Details</button>
                <button>Contact information management Details</button>
              </div>
            </section>
            <% }%>
      </div>
    </main>
    <%- include('../partials/footer') %>